* {
  text-decoration: none;
}

/* login-css-styles(props) */

* {
  text-decoration: none;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.home-link {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2B3B5A;
}

button {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #4169e1;
  border: none;
  padding: 7px 27px ;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #365dc1;
}

/* login css styles end */

 
.welcome-wrapper {
  display: flex;
 
  justify-content: space-between;
  
}


.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: #2B3B5A;
  font-size: 20px;
  font-weight: 500;
}

.welcome h3 {
  font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.02em;
text-align: left;

}
.upgrade {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  gap: .5rem;
}

.upgrade a {


  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color:#4169e1;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: #2B3B5A;
  font-size: 20px;
  font-weight: 500;
}

.welcome h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;

}